# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\goproject\src\daxigua.com\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
